.form-new-credentials {
  width: 100%;
  height: 100vh;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-new-credentials__form {
  width: 470px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c4c4c470;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-new-credentials__title {
  color: #333333;
  font-size: 23px;
  font-weight: 600;
}

.form-new-credentials__field {
  display: flex;
  flex-direction: column;
}

.form-new-credentials__label {
  color: #555555;
  margin: 10px 9px;
  font-size: 17px;
}

.form-new-credentials__input {
  width: 370px;
  height: 47px;
  padding: 0px 20px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #333333;
}

.form-new-credentials__input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #ffffff;
}

.form-new-credentials__button {
  width: 130px;
  height: 45px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.form-new-credentials__button:hover {
  background-color: #0056b3;
}

.form-new-credentials__message {
  margin: 5px 0px 0px 10px;
  font-weight: 600;
  font-size: 0.9em;
}

.form-new-credentials__message--weak {
  color: red;
}

.form-new-credentials__message--medium {
  color: orange;
}

.form-new-credentials__message--strong {
  color: green;
}

.form-new-credentials__message--error {
  color: red;
}
